.panel{
    display: grid;
    grid-template-columns: repeat(3,auto);
    height: auto;
    width: auto;
    gap: 2%;
}
.buttonContainer{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(5,auto);
    height: auto;
    width: auto;
    gap: 8%;
    margin: 5%;
}
.screen{
    background: linear-gradient(300deg, #427a2a, #6ab04c);
    background-size: 100% 100%;
    border: #427a2a solid 5px;
    border-radius: 10px;
    border-bottom: 0;
    border-left: 0;
    overflow: hidden;
    /*top: 200px;*/
    width: auto;
    height: auto;
    margin: 7%;
}
p{
    font-size: 2rem;
    color: #126006;
    padding-left: 10px;
}
button{
    background: linear-gradient(40deg, #9a7d02, #ffcf00);
    background-size: 100% 100%;
    width: auto;
    height: auto;
    border-left: solid 5px;
    /*font-family: sans-serif;*/
    font-size: 100%;
    color: #685504;
    border-radius: 10pt;
    border-color: #9a7d02;
    border-bottom: 0;
    border-right: 0;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear{
    background: linear-gradient(40deg, #af1224, #e42339);
    background-size: 100% 100%;
    border-color: #af1224;
    color: #880f1d;
    border-bottom: 0;
    border-right: 0;
}
.equals{
    background: linear-gradient(40deg, #048abd, #00B9FF);
    background-size: 100% 100%;
    border-color: #048abd;
    color: #034761;
    border-bottom: 0;
    border-right: 0;
}

.pressed {
    box-shadow: 0 1px 1px 0 #000000;
    opacity: 0.5;
}
.main{
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    padding-top: 20px;
    background: linear-gradient(40deg, #464a4c, #b3adae);
    border-left: #464a4c solid 15px;
    border-bottom: #464a4c solid 15px;
    background-size: 100% 100%;
    border-radius: 40px;
    /*width: 640px;*/
    /*height: 800px;*/
    max-width: 650px;
    min-width: 327px;
    max-height: 810px;
    min-height: 327px;
}
/* Media Queries for Mobile Devices */
/*@media (max-width: 600px) {*/
/*    .panel {*/
/*        grid-template-columns: repeat(3, auto);*/
/*        max-height: 300px;*/
/*    }*/

/*    .buttonContainer {*/
/*        grid-template-columns: repeat(2, auto);*/
/*    }*/

/*    p {*/
/*        font-size: 2rem;*/
/*    }*/

/*}*/
